*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
 
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@100&display=swap');
div{
    /*border: 1px solid black;*/
}
.container{
    
    display:grid;
    grid-template-columns: 1fr 4fr ;
}
/* sidebarr css*/
.side-bar{
    background-color: #0ea5e9;
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 6fr;
    
}
.side-bar ul,.side-bar h1 {
    justify-self: center;
}
.side-bar ul{
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) repeat(2 ,1fr);
}
.side-bar-opt{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    
}
.side-bar ul li img{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(253deg) brightness(106%) contrast(101%);
}
/*top bar css*/
.bar{
    margin: 3%;
    
    
}

/*search bar css*/
.search-bar{
    display:grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);    
}
.search-btn{
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
.search-btn+input{
    height:50px;
    border: none;
    border-bottom:  1px solid black ;
    
}
/*user barr css*/
.user-bar{
    display:grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);

}
/* content css*/
.main-content{
    padding: 20px;
    height: 100vh;
    display:grid;
    grid-template: 1fr 1fr/ 3fr 1fr;
    grid-template-areas: "project announcements"
                         "project trending";
    background-color: #eff5fd;
    
}
.main-content-card{
    background-color:white ;
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid orange;
    display: grid;
    gap: 10px;
    box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.38);
    
}
.main-content-card p,
.acc p,
.announcements-card p{
    color: rgb(90, 90, 90);
}

/*project css*/
.projects h3{
    padding: 10px 0;
}
.projects{
    grid-area: project;
    padding: 10px;

}
.projects .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px , 1fr)); 
    gap:20px; 
    
}

.share{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-items: end;
}

.share .btn-fav img{
    height: 24px;
    width: 24px;
}
.share .btn-fav{
    border: 0;
    background-color: white;
    width: fit-content;
}


.share .btn-share img{
    height: 24px;
    width: 24px;
}
.share .btn-share{
    border: 0;
    background-color: white;
    width: fit-content;
}
.share .btn-fork img{
    height: 24px;
    width: 24px;
}
.share .btn-fork{
    border: 0;
    background-color: white;
    width: fit-content;
}

/*side content*/
.side-content{
    margin-left: 10px;
}
.side-content h3{
    padding: 15px 0;
}
.announcements{
    grid-area: announcements;
    
}
.announcements-card{
    display: grid;
    gap:20px;
    
}
.announcements-card div{
    padding:20px 0;
    border-bottom: 1px solid gray;
}

.trending{
    margin-top: 50px;
    grid-area: trending;
}

.announcements-card,
.trending-card{
    display: grid;
    gap: 20px;
    background-color:white ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 3px 10px 1px rgba(0,0,0,0.38);

}
.acc{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "photo tag"
    "photo name";
}
.acc1{
    grid-area: photo;
}
.acc2{
    grid-area: tag;
}
.acc3{
    grid-area: name;
}